@font-face {
  font-family: "Vazirmatn";
  src: url("../assets/fonts/Vazirmatn[wght].ttf") format("truetype");
  font-weight: 100 900;
}

header {
  background: linear-gradient(90deg, #1e3a8a, #2563eb); /* آبی گرادینت */
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

footer {
  background: linear-gradient(90deg, #0f172a, #1e3a8a); /* گرادینت جدید فوتر */
  color: #e0e7ff; /* متن روشن مایل به آبی */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.08);
}

footer p {
  margin: 0;
}
